

/* .App {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-link {
  color: #f0ff65;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*-----------------------HEADER-----------------------*/
.headerNav {
    background-color: #403401ee;
    justify-content: space-between;
    padding-left: 100px;
    color:#000
}
.catlogo {
  width: 220px;
  padding-left: 30px;
}


/*-----------------------FOOTER------------------------*/
.footerNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  background-color: #403401ee;
}


/*------------------------HOME---------------------------*/
.homeCat {
  height: 350px;
  border-radius: 20%;
  border: 3px solid black;
}
.body { /*this is the styling for the Welcome to Cat Tinder*/
  margin: 3rem;
  text-align: center;
  font-family: "Luminari";
  color: rgb(1, 109, 61)
}


/*-----------------------NOT FOUND-----------------------*/
.notfoundcat {
  font-size: 50; 
  height: 450px;
  border-radius: 30%;
  text-align: center;
  margin: 3rem;
  font-family: "Luminari";
  color: rgb(1, 109, 61)
  }

/*-----------------------NAV LINKS-----------------------*/
.nav-link {
  color: rgb(27, 174, 108) !important;
  margin-bottom: 10px;
  font-weight: 900;
  font-family: "Papyrus";
}
.nav-link:hover {
  color: rgb(10, 0, 0) !important;
}
.nav-item {
  align-self: flex-end;
}